body {
  font-family: "Nunito Sans", sans-serif;
}

/* TOP BAR */
.topbar {
  background: #111;
  color: #fff;
  font-size: 13px;
  padding: 8px 0;
}

/* NAVBAR */
.main-navbar {
  background: #fff;
  padding: 20px 0;
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.logo .dot {
  color: red;
}

/* MENU */
.menu .nav-link {
  margin: 0 15px;
  font-weight: 500;
  color: #111 !important;
  position: relative;
}

.menu .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: red;
}

/* ICONS */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.cart {
  position: relative;
}

.cart .count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #111;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.price {
  font-size: 20px;
  font-weight: 300;
}

/* Custom Dropdown User */
.user-dropdown .dropdown-toggle::after {
    display: none; /* Ẩn cái mũi tên mặc định của Bootstrap cho đẹp */
}

.user-info {
    color: #111;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.user-name {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Style cho Menu đổ xuống */
.dropdown-menu {
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 10px !important;
}

.dropdown-item {
    font-size: 14px;
    padding: 8px 20px;
    transition: 0.2s;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #e53637;
}

